{{define "navbar"}}
<!-- Navbar for all the pages -->
<nav class="navbar navbar-dark bg-dark" id="dl-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand">Day Levels Tracker</a>
        </div><!--Navbar header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dls/create">Register a Daylevel</a>
                <li><a href="/med/show">Meditation thoughs</a>
                <li><a href="/signup">Sign up</a>
                <li><a href="/login">Log in</a>
                <li><a href="/logout">Logout</a>

            </ul>
        </div>
    </div>
</nav>

{{end}}